@charset "UTF-8";
/*
1. FONTS
2. VARIABLES
3. GLOBAL
4. NAVBAR
5. HEADER
6. COMPÉTENCES
7. FORMATION
8. PROJETS
9. CONTACT
*/
@font-face {
  font-family: "San Francisco";
  color: #fff;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
  font-family: "Helvetica";
  color: #fff;
  src: url("../font/Helvetica.ttf");
}

body {
  font-family: "San Francisco";
}

h1, h2, h3 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
}

h4 {
  font-family: "Muli", sans-serif;
}

p {
  font-family: 'Roboto Mono', monospace;
}

@media (min-width: 768px) {
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.2rem;
  }
}

header, body, html {
  width: 100%;
  height: 100%;
}

::-moz-selection {
  background-color: #64C6C8;
}

::selection {
  background-color: #64C6C8;
}

section {
  padding: 75px 0;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

.content {
  background-color: white;
  position: relative;
}

.split {
  margin-top: 100vh;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.9);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.9);
}

#scrollUp {
  position: fixed;
  right: -100px;
  bottom: 50px;
}

.current-top {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #353A3F;
  font-size: 2rem;
  opacity: 0.6;
}

.current-top:hover {
  color: #64C6C8;
  text-decoration: none;
  opacity: 1;
}

.loader {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  background-color: #353A3F;
  z-index: 1040;
  -webkit-transition: opacity 900ms ease-out, visibility 0ms linear 900ms, bottom 900ms ease-out;
  transition: opacity 900ms ease-out, visibility 0ms linear 900ms, bottom 900ms ease-out;
}

.isLoading .loader {
  bottom: 0;
  visibility: visible;
}

.btn {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(100, 198, 200, 0.836);
  color: #FFFFFF;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:hover, .btn:active {
  background-color: #64C6C8;
  color: #353A3F;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:before {
  background-color: #64C6C8;
  color: #353A3F;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#mainNav {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #353A3F;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

#mainNav .navbar-brand {
  color: #64C6C8;
  font-family: 'Shadows Into Light', cursive;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: #FFFFFF;
  font-family: "Muli", sans-serif;
  padding: 0.75rem 0;
}

#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
  color: #64C6C8;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #64C6C8 !important;
}

@media (min-width: 992px) {
  #mainNav {
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: #64C6C8;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2.5rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 0 1rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:focus {
    color: #64C6C8;
  }
  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }
  #mainNav.navbar-scrolled {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #353A3F;
  }
  #mainNav.navbar-scrolled .navbar-brand {
    color: #64C6C8;
    font-size: 2rem;
  }
  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
    color: #64C6C8;
  }
}

.fa-bars {
  color: #64C6C8;
}

.head {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 51, 51, 0.7)), to(rgba(51, 51, 51, 0.7))), url("../ressources/bg.jpg");
  background: linear-gradient(to bottom, rgba(51, 51, 51, 0.7) 0%, rgba(51, 51, 51, 0.7) 100%), url("../ressources/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

@media (min-width: 768px) {
  .head h1 {
    font-size: 5rem;
  }
}

.fa-angle-double-down {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #CCCCCC;
  font-size: 4rem;
}

.fa-angle-double-down:hover {
  color: #64C6C8;
  text-decoration: none;
}

.rond {
  color: #64C6C8;
}

.comp {
  padding: 40px 0 0;
}

#flag {
  width: 10rem;
}

.lang {
  padding: 50px 0 0;
}

@media (min-width: 768px) {
  .lang {
    padding: 75px 0 0;
  }
}

.timeline {
  margin: 3em auto;
  position: relative;
  max-width: 46em;
}

.timeline:before {
  background-color: #353A3F;
  content: '';
  margin-left: -1px;
  position: absolute;
  left: 2em;
  width: 2px;
  height: 98%;
}

.timeline-event:hover .timeline-event-icon {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #64C6C8;
}

.timeline-event:hover .timeline-event-thumbnail {
  -webkit-box-shadow: inset 40em 0 0 0 #64C6C8;
          box-shadow: inset 40em 0 0 0 #64C6C8;
}

.timeline-event-copy {
  padding: 2em;
  position: relative;
  top: -1.875em;
  left: 4em;
  width: 80%;
}

.timeline-event-icon {
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #353A3F;
  outline: 10px solid #FFFFFF;
  margin: 0.5em -0.5em;
  position: absolute;
  left: 2em;
  width: 1em;
  height: 1em;
}

.timeline-event-thumbnail {
  -webkit-transition: -webkit-box-shadow 0.5s ease-in 0.1s;
  transition: -webkit-box-shadow 0.5s ease-in 0.1s;
  transition: box-shadow 0.5s ease-in 0.1s;
  transition: box-shadow 0.5s ease-in 0.1s, -webkit-box-shadow 0.5s ease-in 0.1s;
  color: #FFFFFF;
  background-color: #353A3F;
  -webkit-box-shadow: inset 0 0 0 0em #64C6C8;
          box-shadow: inset 0 0 0 0em #64C6C8;
  display: inline-block;
  padding: 0.2em 1em;
}

.timeline-event-copy h4 {
  margin-bottom: 1.2em;
}

#project .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#project .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  background-color: #f8f8f8;
}

#project .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  opacity: 0;
  background: #64C6C8;
}

#project .portfolio-item .portfolio-link .portfolio-hover:hover, #project .portfolio-item .portfolio-link .portfolio-hover:focus, #project .portfolio-item .portfolio-link .portfolio-hover:active {
  opacity: 0.9;
}

#project .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: #FFFFFF;
}

#project .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#project .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3, #project .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#project .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #f8f8f8;
}

#project .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#project .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
}

.close:hover {
  color: #64C6C8;
}

@media (min-width: 768px) {
  #project .portfolio-item {
    margin: 0 0 30px;
  }
}

.portfolio-modal {
  padding-right: 0 !important;
}

.wachr {
  width: 10rem;
}

.portfolio-modal .modal-dialog {
  margin: 3rem auto;
  min-width: 60vw;
}

.portfolio-modal .modal-dialog .modal-content {
  padding: 50px;
}

.portfolio-modal .modal-content h2 {
  font-size: 2em;
  margin-bottom: 15px;
}

.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
}

.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}

.project-body {
  padding: 70px 0px 40px;
}

#contact {
  background-color: #222529;
  color: #FFFFFF;
}

.contact-body {
  padding: 50px 0px 10px;
}

.form-control {
  padding: 1.5rem;
  background-color: #353A3F;
  border: none;
}

.form-control:focus {
  background-color: #64C6C8;
  color: black;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.col {
  padding: 0 0 50px;
}

@media (min-width: 768px) {
  .col {
    padding: 0;
  }
}

footer {
  padding: 60px 0px 30px;
}

.end-top a {
  position: absolute;
  margin-top: -90px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #CCCCCC;
  color: #353A3F;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  font-size: 3rem;
  line-height: 55px;
}

.end-top a:hover {
  color: #64C6C8;
  text-decoration: none;
}

.socialI li a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #222529;
  color: #FFFFFF;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  font-size: 25px;
  line-height: 50px;
  margin: 30px 0 0;
}

.socialI li a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.fa-facebook-f:hover, .fa-facebook-f:active {
  background-color: #4968ad;
}

.fa-twitter:hover, .fa-twitter:active {
  background-color: #40a1eb;
}

.fa-linkedin-in:hover, .fa-linkedin-in:active {
  background-color: #3077b0;
}
/*# sourceMappingURL=style.css.map */