@font-face {
  font-family: "San Francisco";
  color: #fff;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
  font-family: "San Francisco bold";
  color: #fff;
  src: url("../ressources/sf-pro-text_semibold.woff2");
}

@font-face {
  font-family: "Helvetica";
  color: #fff;
  src: url("../ressources/Helvetica.ttf");
}

body, html, header, h1 {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "San Francisco";
}

h1 {
  font-family: "Helvetica";
}

header, body, html {
  width: 100%;
  height: 100%;
}

.head {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 51, 51, 0.8)), to(rgba(51, 51, 51, 0.8))), url("../ressources/bg.jpg");
  background: linear-gradient(to bottom, rgba(51, 51, 51, 0.8) 0%, rgba(51, 51, 51, 0.8) 100%), url("../ressources/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

@media (min-width: 768px) {
  .head h1 {
    font-size: 3rem;
  }
}

#scrollUp {
  position: fixed;
  bottom: 30px;
  right: -100px;
  opacity: 0.7;
  font-size: 2rem;
}

.fa-chevron-up {
  color: #333333;
}

.fa-chevron-up:hover {
  color: #64C6C8;
  text-decoration: none;
}

.loader {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  background-color: #333333;
  -webkit-transition: opacity 900ms ease-out, visibility 0ms linear 900ms, bottom 900ms ease-out;
  transition: opacity 900ms ease-out, visibility 0ms linear 900ms, bottom 900ms ease-out;
}

.isLoading .loader {
  bottom: 0;
  visibility: visible;
}

#mainNav {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #333333;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

#mainNav .navbar-brand {
  color: #64C6C8;
  font-family: 'Shadows Into Light', cursive;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  padding: 0.75rem 0;
}

#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
  color: #64C6C8;
}

@media (min-width: 992px) {
  #mainNav {
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: #64C6C8;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: #FFFFFF;
    padding: 0 1rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #64C6C8;
  }
  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }
  #mainNav.navbar-scrolled {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #333333;
  }
  #mainNav.navbar-scrolled .navbar-brand {
    color: #64C6C8;
  }
  #mainNav.navbar-scrolled .navbar-brand:hover {
    color: #64C6C8;
  }
  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
    color: #FFFFFF;
  }
  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
    color: #64C6C8;
  }
}

.btn {
  font-family: "Montserrat", sans-serif;
  background-color: #64C6C8;
}

.btn:hover {
  background-color: #64C6C8;
}

.fa-angle-double-down {
  color: #CCCCCC;
}

.fa-angle-double-down:hover {
  color: #64C6C8;
  text-decoration: none;
}

.img-fluid {
  padding-top: 15rem;
  width: 65%;
}
/*# sourceMappingURL=style.css.map */