@import "../bootstrap/scss/_functions.scss";
@import "../bootstrap/scss/_variables.scss";
@import "../bootstrap/scss/mixins/_breakpoints.scss";

/*
1. FONTS
2. VARIABLES
3. GLOBAL
4. NAVBAR
5. HEADER
6. COMPÉTENCES
7. FORMATION
8. PROJETS
9. CONTACT
*/


// FONTS \\

@font-face {
  font-family: "San Francisco";
  color: $white;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
  font-family: "Helvetica";
  color: $white;
  src: url("../font/Helvetica.ttf");
}


// VARIABLES \\

$d: 900ms;
$blueT: rgba(100, 198, 200, 0.836);
$blue: #64C6C8;
$white: #FFFFFF;
$dark: #353A3F;
$grey: #CCCCCC;
$black: #222529;



// GLOBAL \\

body{
  font-family: "San Francisco";
}

h1, h2, h3 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
}

h4 {
  font-family: "Muli", sans-serif;
}

p {
  font-family: 'Roboto Mono', monospace;
}

@include media-breakpoint-up(md){
  h2{
    font-size: 2rem;
  }
  h3{
    font-size: 1.75rem;
  }
  h4{
    font-size: 1.2rem;
  }
}

header, body, html {
  width: 100%;
  height: 100%;
}

::selection{
  background-color: $blue;
}

section {
  padding: 75px 0;
  @include media-breakpoint-up(md){
    padding: 150px 0;
  }
}

.content {
  background-color: white;
  position: relative;
}

.split {
  margin-top: 100vh;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.9);
}


// ===================== Bouton top page =====================
#scrollUp {
  position: fixed;
  right: -100px;
  bottom: 50px;
  a:active {
    color: $blue;
    opacity: 1;
  }
}

.current-top{
  transition: all 0.3s ease;
  color: $dark;
  font-size: 2rem;
  opacity: 0.6;
  &:hover {
    color: $dark;
    text-decoration: none;
  }
  @include media-breakpoint-up(lg) {
    transition: all 0.3s ease;
    &:hover {
      color: $blue;
      opacity: 1;
    }
  }
}
// ===========================================================


// ===================== Chargement de la page =====================
.loader {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  background-color: $dark;
  z-index: 1040;
  transition: opacity $d ease-out, visibility 0ms linear $d, bottom $d ease-out;
}

.isLoading{
  .loader {
    bottom: 0;
    visibility: visible; 
  }
}
// ===========================================================


// ===================== Style des boutons =====================
.btn{
  font-family: "Montserrat", sans-serif;
  background-color: $blueT;
  color: $white;
  box-shadow: none;
  &:hover, &:active {
    background-color: $blue;
    color: $dark;
    box-shadow: none;
  }
  &:before{
    background-color: $blue;
    color: $dark;
    box-shadow: none;
  }
}
// ===========================================================



// NAVBAR \\

#mainNav {
  box-shadow: $box-shadow;
  background-color: $dark;
  transition: background-color 0.3s ease;
  .navbar-brand {
    color: $blue;
    font-family: 'Shadows Into Light', cursive;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: $white;
        font-family: "Muli", sans-serif;
        padding: 0.75rem 0;
        &:hover, &:active{
          color: $blue;
        }
        &.active {
          color: $blue !important;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    box-shadow: none;
    background-color: transparent;
    .navbar-brand {
      color: $blue;
      font-family: 'Shadows Into Light', cursive;
      font-size: 2.5rem;
      transition: all 0.3s;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 0 1rem;
          &:hover {
            color: $blue;
          }
        }
        &:last-child {
          .nav-link {
            padding-right: 0;
          }
        }
      }
    }
    &.navbar-scrolled {
      box-shadow: $box-shadow;
      background-color: $dark;
      .navbar-brand {
        color: $blue;
        font-size: 2rem;
      }
      .navbar-nav {
        .nav-item {
          .nav-link:hover {
            color: $blue;
          }
        }
      }
    }
  }
}

.fa-bars {
  color: $blue;
}



// HEADER \\

.head {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;

  background: linear-gradient(to bottom, rgba(51, 51, 51, 0.7) 0%, rgba(51, 51, 51, 0.7) 100%), url("../ressources/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;

  @include media-breakpoint-up(md){
    h1{
      font-size: 5rem;
    }
  }
}

.fa-angle-double-down{
  color: $grey;
  font-size: 4rem;

  &:active {
    color: $blue;
  }

  &:hover {
    text-decoration: none;
  }

  @include media-breakpoint-up(lg){
    transition: all 0.4s ease;
    &:hover {
      color: $blue;
    }
  }
}



// COMPÉTENCES \\

.rond {
  color: $blue;
}

.comp {
  padding: 40px 0 0;
}

#flag {
  width: 10rem;
}

.lang {
  padding: 50px 0 0;
  @include media-breakpoint-up(md){
    padding: 75px 0 0;
  }
}



// FORMATION - Timeline \\

.timeline {
  margin: 3em auto;
  position: relative;
  max-width: 46em;
}

.timeline {
  &:before {
    background-color: $dark;
    content: '';
    margin-left: -1px;
    position: absolute;
    left: 2em;
    width: 2px;
    height: 98%;
  }
}

.timeline-event {
  &:hover {
    .timeline-event-icon {
      transform: rotate(-45deg);
      background-color: $blue;
    }
  }
}

.timeline-event {
  &:hover {
    .timeline-event-thumbnail {
      box-shadow: inset 40em 0 0 0 $blue;
    }
  }
}

.timeline-event-copy {
  padding: 2em;
  position: relative;
  top: -1.875em;
  left: 4em;
  width: 80%;
}

.timeline-event-icon {
  transition: transform 0.2s ease-in;
  transform: rotate(45deg);
  background-color: $dark;
  outline: 10px solid $white;
  margin: 0.5em -0.5em;
  position: absolute;
  left: 2em;
  width: 1em;
  height: 1em;
}

.timeline-event-thumbnail {
  transition: box-shadow 0.5s ease-in 0.1s;
  color: $white;
  background-color: $dark;
  box-shadow: inset 0 0 0 0em $blue;
  display: inline-block;
  padding: 0.2em 1em;
}

.timeline-event-copy {
  h4 {
    margin-bottom: 1.2em;
  }
}



// PROJETS \\

#project{
  .portfolio-item{
      right:0;
      margin:0 0 15px;
  }
}

#project{
  .portfolio-item{
      .portfolio-link{
          position:relative;
          display:block;
          max-width:400px;
          margin:0 auto;
          background-color: rgb(248, 248, 248);
      }
  }
}  

#project{
  .portfolio-item{
      .portfolio-link{
          .portfolio-hover{
              position:absolute;
              width:100%;
              height:100%;
              transition:all .5s ease;
              opacity:0;
              background: $blue;
              &:hover, &:focus, &:active {
                opacity:0.9;
              }
          }
      }
  }
}   


#project{
  .portfolio-item{
      .portfolio-link {
          .portfolio-hover{
              .portfolio-hover-content{
                  position:absolute;
                  top:50%;
                  width:100%;
                  height:20px;
                  margin-top:-12px;
                  text-align:center;
                  color:$white;
              }
          } 
      }
  } 
} 

#project{
  .portfolio-item{
      .portfolio-link{
          .portfolio-hover{
              .portfolio-hover-content i{
                  margin-top:-12px;
              }
          }
      }
  }   
} 

#project{
  .portfolio-item{
      .portfolio-link {
          .portfolio-hover{
              .portfolio-hover-content{
                  h3, h4{
                    margin:0;
                  } 
              }
          } 
      }
  } 
} 

#project {
  .portfolio-item{
      .portfolio-caption{
          max-width:400px;
          margin:0 auto;
          padding:25px;
          text-align:center;
          background-color: rgb(248, 248, 248);
      }
  } 
}

#project{
  .portfolio-item{
      .portfolio-caption{
          h4{
              margin:0;
              text-transform:none
          }
      }
  }
}   

#project{
  .portfolio-item{
      .portfolio-caption{
          p{
              font-size:16px;
              font-style:italic;
              margin:0;
          }
      }
  }
}

.close {
  &:hover{
    color: $blue;
  }
}


@include media-breakpoint-up(md){
  #project{
      .portfolio-item{
         margin:0 0 30px;
      }
  }
} 

.portfolio-modal{
  padding-right:0!important
}

// largeur popup
.portfolio-modal .modal-dialog{
  margin: 3rem auto;
  min-width:60vw;
}

.portfolio-modal{
  .modal-dialog{
    .modal-content{
      padding: 50px;
    }
  }
}

.portfolio-modal .modal-content h2{
  font-size:2em;
  margin-bottom:15px
}

.portfolio-modal .modal-content p{
  margin-bottom:30px
}

.portfolio-modal .modal-content p.item-intro{
  font-size:16px;
  font-style:italic;
  margin:20px 0 30px;
}

//espace après l'image
.portfolio-modal{
  .modal-content{
    img{
      margin-bottom:30px;
    }
  }
}

.project-body {
  padding: 70px 0px 40px;
}



// CONTACT \\

#contact{
  background-color: $black;
  color: $white;
}

.contact-body {
  padding: 50px 0px 10px;
}

.form-control{
  padding: 1.5rem;
  background-color: $dark;
  border: none;
  &:focus{
    background-color: $blue;
    color: black;
    box-shadow: none;
  }
}

.col {
  padding: 0 0 50px;
  @include media-breakpoint-up(md){
    padding: 0;
  }
}



// FOOTER \\

footer {
  padding: 60px 0px 30px;
}

.end-top a {
  position: absolute;
  margin-top: -90px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  background-color: $grey;
  color: $dark;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  font-size: 3rem;
  line-height: 55px;


  &:active {
    color: $blue;
  }

  &:hover {
    text-decoration: none;
  }

  @include media-breakpoint-up(lg){
    transition: all 0.4s ease;
    &:hover {
      color: $blue;
    } 
  }
}

.socialI li a {
  transition: all 0.5s ease;
  background-color: $black;
  color: $white;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  font-size: 25px;
  line-height: 50px;
  margin: 30px 0 0;
  
  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.fa-facebook-f {
  &:hover, &:active {
    background-color: rgb(73, 104, 173);
  }
}

.fa-twitter {
  &:hover, &:active {
    background-color: rgb(64, 161, 235);
  }
}

.fa-linkedin-in {
  &:hover, &:active {
    background-color: rgb(48, 119, 176);
  }
}