@font-face {
  font-family: "San Francisco";
  color: #fff;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/*
@font-face {
  font-family: "San Francisco bold";
  color: $white;
  src: url("../ressources/sf-pro-text_semibold.woff2");
}
*/
@font-face {
  font-family: "Helvetica";
  color: #fff;
  src: url("../ressources/Helvetica.ttf");
}

body, html, header, h1 {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "San Francisco";
}

h1 {
  font-family: "Helvetica";
}

header, body, html {
  width: 100%;
  height: 100%;
}

::-moz-selection {
  background-color: #64C6C8;
}

::selection {
  background-color: #64C6C8;
}

.head {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 51, 51, 0.8)), to(rgba(51, 51, 51, 0.8))), url("../ressources/bg.jpg");
  background: linear-gradient(to bottom, rgba(51, 51, 51, 0.8) 0%, rgba(51, 51, 51, 0.8) 100%), url("../ressources/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

@media (min-width: 768px) {
  .head h1 {
    font-size: 3rem;
  }
}

#scrollUp {
  position: fixed;
  bottom: 30px;
  right: -100px;
  opacity: 0.7;
  font-size: 2rem;
}

.fa-chevron-up {
  color: #353a3f;
}

.fa-chevron-up:hover {
  color: #64C6C8;
  text-decoration: none;
}

.loader {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  background-color: #353a3f;
  z-index: 3;
  -webkit-transition: opacity 900ms ease-out, visibility 0ms linear 900ms, bottom 900ms ease-out;
  transition: opacity 900ms ease-out, visibility 0ms linear 900ms, bottom 900ms ease-out;
}

.isLoading .loader {
  bottom: 0;
  visibility: visible;
}

#mainNav {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #353a3f;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

#mainNav .navbar-brand {
  color: #64C6C8;
  font-family: 'Shadows Into Light', cursive;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  padding: 0.75rem 0;
}

#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link.active {
  color: #64C6C8;
}

@media (min-width: 992px) {
  #mainNav {
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: #64C6C8;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: #FFFFFF;
    padding: 0 1rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #64C6C8;
  }
  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }
  #mainNav.navbar-scrolled {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #353a3f;
  }
  #mainNav.navbar-scrolled .navbar-brand {
    color: #64C6C8;
  }
  #mainNav.navbar-scrolled .navbar-brand:hover {
    color: #64C6C8;
  }
  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
    color: #FFFFFF;
  }
  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
    color: #64C6C8;
  }
}

.btn {
  font-family: "Montserrat", sans-serif;
  background-color: #64C6C8;
  color: #FFFFFF;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:hover {
  background-color: #64C6C8;
  color: #353a3f;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:before {
  background-color: #64C6C8;
  color: #353a3f;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.fa-angle-double-down {
  color: #CCCCCC;
}

.fa-angle-double-down:hover {
  color: #64C6C8;
  text-decoration: none;
}

.fa-angle-double-down {
  font-size: 4rem;
}

.fa-circle {
  color: #64C6C8;
}

.fa-bars {
  color: #64C6C8;
}

section {
  padding: 100px;
}

#contact {
  background-color: #222529;
  color: white;
}

.form-control {
  padding: 1.5rem;
  background-color: #353a3f;
  border: none;
}

.form-control:focus {
  background-color: #64C6C8;
  color: black;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.close:hover {
  color: #64C6C8;
}

#project .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#project .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
}

#project .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  opacity: 0;
  background: #64C6C8;
}

#project .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 0.9;
}

#project .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: #FFFFFF;
}

#project .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#project .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3, #project .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#project .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #f8f8f8;
}

#project .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#project .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
}

#project * {
  z-index: 2;
}

@media (min-width: 767px) {
  #project .portfolio-item {
    margin: 0 0 30px;
  }
}

.portfolio-modal {
  padding-right: 0 !important;
}

.portfolio-modal .modal-dialog {
  margin: 3rem, auto;
  max-width: 60vw;
}

.portfolio-modal .modal-dialog .modal-content {
  padding: 50px;
}

.portfolio-modal .modal-content h2 {
  font-size: 2em;
  margin-bottom: 15px;
}

.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
}

.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}

.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}

.portfolio-modal .close-modal:hover {
  opacity: .3;
}

/* Timeline */
.timeline {
  margin: 3em auto;
  position: relative;
  max-width: 46em;
}

.timeline:before {
  background-color: #353a3f;
  content: '';
  margin-left: -1px;
  position: absolute;
  left: 2em;
  width: 2px;
  height: 98%;
}

.timeline-event:hover .timeline-event-icon {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #64C6C8;
}

.timeline-event:hover .timeline-event-thumbnail {
  -webkit-box-shadow: inset 40em 0 0 0 #64C6C8;
          box-shadow: inset 40em 0 0 0 #64C6C8;
}

.timeline-event-copy {
  padding: 2em;
  position: relative;
  top: -1.875em;
  left: 4em;
}

.timeline-event-icon {
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #353a3f;
  outline: 10px solid white;
  margin: 0.5em -0.5em;
  position: absolute;
  left: 2em;
  width: 1em;
  height: 1em;
}

.timeline-event-thumbnail {
  -webkit-transition: -webkit-box-shadow 0.5s ease-in 0.1s;
  transition: -webkit-box-shadow 0.5s ease-in 0.1s;
  transition: box-shadow 0.5s ease-in 0.1s;
  transition: box-shadow 0.5s ease-in 0.1s, -webkit-box-shadow 0.5s ease-in 0.1s;
  color: #FFFFFF;
  background-color: #353a3f;
  -webkit-box-shadow: inset 0 0 0 0em #64C6C8;
          box-shadow: inset 0 0 0 0em #64C6C8;
  display: inline-block;
  padding: 0.2em 1em;
}
/*# sourceMappingURL=style.css.map */