@import "../bootstrap/scss/_functions.scss";
@import "../bootstrap/scss/_variables.scss";
@import "../bootstrap/scss/mixins/_breakpoints.scss";

@font-face {
  font-family: "San Francisco";
  color: $white;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}


@font-face {
  font-family: "San Francisco bold";
  color: $white;
  src: url("../ressources/sf-pro-text_semibold.woff2");
}

@font-face {
  font-family: "Helvetica";
  color: $white;
  src: url("../ressources/Helvetica.ttf");
}

$d: 900ms;
$blue: #64C6C8;
$white: #FFFFFF;
$dark: #333333;

body, html, header, h1{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: "San Francisco";
}

h1{
  font-family: "Helvetica";
}

header, body, html {
  width: 100%;
  height: 100%;
}

.head {
  background: linear-gradient(to bottom, rgba(51, 51, 51, 0.8) 0%, rgba(51, 51, 51, 0.8) 100%), url("../ressources/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;

  @include media-breakpoint-up(md){
    h1{
      font-size: 3rem;
    }
  }
}

#scrollUp {
  position: fixed;
  bottom: 30px;
  right: -100px;
  opacity: 0.7;
  font-size: 2rem;
}

.fa-chevron-up{
  color: $dark;
  &:hover{
    color: $blue;
    text-decoration: none;
  }
}


.loader {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  background-color: $dark;
  transition: opacity $d ease-out, visibility 0ms linear $d, bottom $d ease-out;
}

.isLoading{
  .loader {
    bottom: 0;
    visibility: visible; 
  }
}

#mainNav {
  box-shadow: $box-shadow;
  background-color: $dark;
  transition: background-color 0.3s ease;
  .navbar-brand {
    color: $blue;
    font-family: 'Shadows Into Light', cursive;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: $white;
        font-family: "Montserrat", sans-serif;
        padding: 0.75rem 0;
        &:hover, &:active {
          color: $blue;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    // Base styling for the navbar - screen sizes greater than the large breakpoint
    box-shadow: none;
    background-color: transparent;
    .navbar-brand {
      color: $blue;
      font-family: 'Shadows Into Light', cursive;
      font-size: 2rem;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: $white;
          padding: 0 1rem;
          &:hover {
            color: $blue;
          }
        }
        &:last-child {
          .nav-link {
            padding-right: 0;
          }
        }
      }
    }
    // Navbar styling applied when the page is scrolled
    &.navbar-scrolled {
      box-shadow: $box-shadow;
      background-color: $dark;
      .navbar-brand {
        color: $blue;
        &:hover {
          color: $blue;
        }
      }
      .navbar-nav {
        .nav-item {
          .nav-link {
            color: $white;
            &:hover {
              color: $blue;
            }
          }
        }
      }
    }
  }
}

.btn{
  font-family: "Montserrat", sans-serif;
  background-color: $blue;
  &:hover{
    background-color: $blue;
  }
}

.fa-angle-double-down{
  color:#CCCCCC;
  &:hover{
    color: $blue;
    text-decoration: none;
  }
}

.img-fluid {
  padding-top: 15rem;
  width: 65%;
}
